body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
